:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  padding: 0px;
  background-color: #0c0637;
  background-image: url('./assets/img/bg-degrade-light80-1.webp'), url('./assets/img/bg-grid.svg');
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}


:root {
  color: #fff;
}